* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

h1 {
  padding: 0; }

ul#board {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 0; }
  ul#board:before, ul#board:after {
    content: " ";
    display: table; }
  ul#board:after {
    clear: both; }
  ul#board li {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    background: rgba(255, 255, 255, 0.3);
    margin-bottom: 20px;
    padding: 20px; }
    ul#board li:last-child {
      margin-right: 0; }
    ul#board li:nth-child(4n) {
      margin-right: 0; }
    ul#board li:nth-child(4n+1) {
      clear: left; }
    ul#board li h2 {
      color: rgba(0, 0, 40, 0.4);
      font-size: 12.5px;
      margin: 0;
      padding: 0;
      text-transform: uppercase;
      font-family: 'Gibson Light', "Montserrat", "Helvetica Neue"; }
    ul#board li.numeric-widget h1 {
      font-family: "Helvetica Neue";
      font-weight: 100;
      font-size: 3rem;
      margin: 10px 0;
      padding: 0;
      color: rgba(0, 0, 50, 0.6); }
